/* Colours
Infrared:		#ff2247
Grey:			#30343f
*/

#addBtn,
#submitBtn {
	background-color: #ff2247 !important;
	border: none !important;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}

#navSidebar {
	height: 80%;
    width: 260px;
    // border: 1px solid red;
}
#navSidebar h2 {
	margin-right: 40px;
}

#navSidebar .sidebarContainer {
	overflow-y: scroll;
	padding-right: 20px
}
#navSidebar .sidebarContainer .innovation-type {
	display: block;
    padding: 2px;
    margin: 10px 0px;
}
#navSidebar .innovation-type:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.03);
}